.u-section-1 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-1 .u-sheet-1 {
  min-height: 1176px;
}

.u-section-1 .u-group-1 {
  min-height: 60px;
  margin-top: 46px;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 60px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 1015px;
  height: auto;
  margin: 39px auto 0 -557px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 9px auto 0 571px;
}

.u-section-1 .u-group-3 {
  min-height: 886px;
  height: auto;
  margin-top: 53px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 28px 39px 0;
}

.u-section-1 .u-image-1 {
  width: 1062px;
  height: 360px;
  margin: 8px 39px 0;
}

.u-section-1 .u-text-4 {
  margin: 30px 39px 0;
}

.u-section-1 .u-group-4 {
  min-height: 48px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1105px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: -918px auto 60px -692px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 9px 28px 0 725px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 89px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 319px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: -920px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 9px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 654px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 183px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 191px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 175px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 115px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-top: -1006px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 191px;
  }
}
.u-section-2 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-2 .u-sheet-1 {
  min-height: 1667px;
}

.u-section-2 .u-group-1 {
  min-height: 1592px;
  height: auto;
  margin-top: 29px;
  margin-bottom: 46px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-1 {
  margin: 31px 39px 0;
}

.u-section-2 .u-image-1 {
  width: 1070px;
  height: 171px;
  margin: 28px 32px 0 39px;
}

.u-section-2 .u-image-2 {
  width: 1070px;
  height: 171px;
  margin: 22px 31px 0 39px;
}

.u-section-2 .u-text-2 {
  margin: 32px 39px 0;
}

.u-section-2 .u-text-3 {
  margin: 15px 39px 0 70px;
}

.u-section-2 .u-text-4 {
  margin: 15px 71px 0 39px;
}

.u-section-2 .u-text-5 {
  margin: 22px 40px -66px 70px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 150px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 150px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 720px;
    height: 115px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
    height: 86px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-top: 238px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 54px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 54px;
  }
}
.u-section-3 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-3 .u-sheet-1 {
  min-height: 1982px;
}

.u-section-3 .u-group-1 {
  min-height: 1885px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 0 0;
}

.u-section-3 .u-text-1 {
  margin: 12px 58px 0 69px;
}

.u-section-3 .u-image-1 {
  width: 1013px;
  height: 576px;
  margin: 10px 57px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 36px 60px 0 69px;
}

.u-section-3 .u-image-2 {
  width: 1016px;
  height: 280px;
  margin: 22px 54px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 36px 89px 0 116px;
}

.u-section-3 .u-group-2 {
  min-height: 62px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1334px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: -1932px auto 1848px -698px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 13px 28px 0 726px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 535px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 940px;
    height: 259px;
    margin-top: -337px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 70px;
    margin-left: 4px;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 720px;
    height: 410px;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 198px;
    margin-top: -308px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 131px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    width: 540px;
    height: 308px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 149px;
    margin-top: -315px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 187px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 194px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 94px;
    margin-top: -289px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 216px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }
}
.u-section-4 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-group-1 {
  min-height: 677px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 23px;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 19px 0 0;
}

.u-section-4 .u-text-1 {
  margin: 20px 72px 0 57px;
}

.u-section-4 .u-image-1 {
  width: 1011px;
  height: 506px;
  margin: 22px auto 0 58px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 471px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 720px;
    height: 361px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 540px;
    height: 271px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 340px;
    height: 171px;
  }
}
.u-section-5 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-5 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-5 .u-group-1 {
  min-height: 914px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-5 .u-text-1 {
  margin: 36px 59px 0 68px;
}

.u-section-5 .u-image-1 {
  width: 1013px;
  height: 572px;
  margin: 23px 59px 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 23px 89px 0 126px;
}

.u-section-5 .u-group-2 {
  min-height: 54px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1339px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: -933px auto 895px -698px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 13px 28px 0 731px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 531px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 720px;
    height: 407px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 540px;
    height: 305px;
  }

  .u-section-5 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 340px;
    height: 192px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }
}
.u-section-6 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-6 .u-sheet-1 {
  min-height: 1320px;
}

.u-section-6 .u-group-1 {
  min-height: 1263px;
  height: auto;
  margin-top: 29px;
  margin-bottom: 28px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 19px 0 10px;
}

.u-section-6 .u-text-1 {
  margin: 13px 39px 0;
}

.u-section-6 .u-image-1 {
  width: 1013px;
  height: 535px;
  margin: 23px auto 0;
}

.u-section-6 .u-text-2 {
  width: 910px;
  margin: 39px auto 0;
}

.u-section-6 .u-text-3 {
  width: 776px;
  margin: 28px auto 0;
}

.u-section-6 .u-text-4 {
  width: 910px;
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 497px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    width: 720px;
    height: 381px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    width: 720px;
  }

  .u-section-6 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    width: 540px;
    height: 286px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }

  .u-section-6 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
    height: 180px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }

  .u-section-6 .u-text-4 {
    width: 340px;
  }
}
.u-section-7 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-7 .u-sheet-1 {
  min-height: 814px;
}

.u-section-7 .u-group-1 {
  min-height: 755px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 19px 0 10px;
}

.u-section-7 .u-text-1 {
  margin: 12px 39px 0;
}

.u-section-7 .u-image-1 {
  width: 1062px;
  height: 603px;
  margin: 29px 39px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 534px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    width: 720px;
    height: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 540px;
    height: 307px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    margin-top: 238px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 193px;
  }
}
.u-section-8 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-8 .u-sheet-1 {
  min-height: 1318px;
}

.u-section-8 .u-group-1 {
  min-height: 1235px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 19px 0 0;
}

.u-section-8 .u-text-1 {
  margin: 20px 59px 0 68px;
}

.u-section-8 .u-image-1 {
  width: 1013px;
  height: 435px;
  margin: 28px 59px 0 68px;
}

.u-section-8 .u-image-2 {
  width: 1013px;
  height: 225px;
  margin: 13px 59px 0 68px;
}

.u-section-8 .u-text-2 {
  margin: 38px 59px 0 68px;
}

.u-section-8 .u-image-3 {
  width: 1013px;
  height: 91px;
  margin: 20px 59px 0 68px;
}

.u-section-8 .u-group-2 {
  min-height: 62px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1057px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: -1278px auto 60px -698px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 13px 28px 0 731px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2182px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 97px;
    height: auto;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 404px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    width: 940px;
    height: 208px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    width: 940px;
    height: 84px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-group-2 {
    margin-top: -2129px;
    height: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    width: 720px;
    height: 309px;
  }

  .u-section-8 .u-image-2 {
    width: 720px;
    height: 159px;
  }

  .u-section-8 .u-image-3 {
    width: 720px;
    height: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2183px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 232px;
  }

  .u-section-8 .u-image-2 {
    width: 540px;
    height: 119px;
  }

  .u-section-8 .u-image-3 {
    width: 540px;
    height: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2695px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 146px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 75px;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 30px;
  }

  .u-section-8 .u-group-2 {
    width: 340px;
    margin-top: -2290px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 42px;
  }
}
.u-section-9 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-9 .u-sheet-1 {
  min-height: 2827px;
}

.u-section-9 .u-group-1 {
  min-height: 2757px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 35px;
  margin-bottom: 35px;
}

.u-section-9 .u-container-layout-1 {
  padding: 19px 0 30px;
}

.u-section-9 .u-text-1 {
  margin: 12px 58px 0 69px;
}

.u-section-9 .u-image-1 {
  width: 1002px;
  height: 413px;
  margin: 12px auto 0;
}

.u-section-9 .u-text-2 {
  width: 912px;
  margin: 47px auto 0;
}

.u-section-9 .u-image-2 {
  width: 913px;
  height: 188px;
  margin: 12px 114px 0 113px;
}

.u-section-9 .u-text-3 {
  width: 912px;
  margin: 21px auto 0;
}

.u-section-9 .u-image-3 {
  width: 914px;
  height: 438px;
  margin: 26px 113px 0;
}

.u-section-9 .u-text-4 {
  margin: 58px 96px 0 114px;
}

.u-section-9 .u-image-4 {
  width: 930px;
  height: 126px;
  margin: 26px 96px 0 115px;
}

.u-section-9 .u-text-5 {
  margin: 69px 69px 0;
}

.u-section-9 .u-image-5 {
  width: 1002px;
  height: 539px;
  margin: 35px 69px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    width: 940px;
    height: 387px;
    margin-top: -311px;
    margin-left: 69px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 720px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 13px;
    margin-right: 14px;
  }

  .u-section-9 .u-image-3 {
    height: 439px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-9 .u-image-4 {
    margin-left: 10px;
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-5 {
    width: 940px;
    height: 505px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-1 {
    width: 720px;
    height: 296px;
    margin-top: -110px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 576px;
    width: 720px;
  }

  .u-section-9 .u-image-2 {
    width: 720px;
    height: 148px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    width: 720px;
  }

  .u-section-9 .u-image-3 {
    width: 720px;
    height: 346px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
  }

  .u-section-9 .u-image-4 {
    width: 720px;
    height: 98px;
    margin-left: 0;
  }

  .u-section-9 .u-image-5 {
    width: 720px;
    height: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    width: 540px;
    height: 222px;
    margin-top: -94px;
    margin-left: auto;
  }

  .u-section-9 .u-text-2 {
    margin-top: 566px;
    width: 540px;
  }

  .u-section-9 .u-image-2 {
    width: 540px;
    height: 111px;
  }

  .u-section-9 .u-text-3 {
    width: 540px;
  }

  .u-section-9 .u-image-3 {
    width: 540px;
    height: 260px;
  }

  .u-section-9 .u-image-4 {
    width: 540px;
    height: 74px;
  }

  .u-section-9 .u-image-5 {
    width: 540px;
    height: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    width: 340px;
    height: 140px;
    margin-top: 367px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 213px;
    width: 340px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 70px;
  }

  .u-section-9 .u-text-3 {
    width: 340px;
  }

  .u-section-9 .u-image-3 {
    width: 340px;
    height: 164px;
  }

  .u-section-9 .u-image-4 {
    width: 340px;
    height: 47px;
  }

  .u-section-9 .u-image-5 {
    width: 340px;
    height: 183px;
  }
}
.u-section-10 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-10 .u-sheet-1 {
  min-height: 3763px;
}

.u-section-10 .u-group-1 {
  min-height: 3715px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-10 .u-text-1 {
  margin: 71px 64px 0;
}

.u-section-10 .u-image-1 {
  width: 1013px;
  height: 156px;
  margin: 28px 64px 0;
}

.u-section-10 .u-text-2 {
  margin: 39px 63px 0;
}

.u-section-10 .u-image-2 {
  width: 1013px;
  height: 295px;
  margin: 13px auto 0;
}

.u-section-10 .u-text-3 {
  margin: 39px 123px 0 132px;
}

.u-section-10 .u-text-4 {
  margin: 64px 63px 0;
}

.u-section-10 .u-image-3 {
  width: 1014px;
  height: 136px;
  margin: 28px auto 0;
}

.u-section-10 .u-image-4 {
  width: 1013px;
  height: 276px;
  margin: 25px auto 0;
}

.u-section-10 .u-text-5 {
  margin: 52px 123px 0 132px;
}

.u-section-10 .u-image-5 {
  width: 1013px;
  height: 449px;
  margin: 28px 64px 0;
}

.u-section-10 .u-image-6 {
  width: 1013px;
  height: 211px;
  margin: 57px auto 0;
}

.u-section-10 .u-text-6 {
  margin: 28px 123px 0 132px;
}

.u-section-10 .u-image-7 {
  width: 1013px;
  height: 277px;
  margin: 39px auto 0;
}

.u-section-10 .u-text-7 {
  margin: 39px 123px 0 132px;
}

.u-section-10 .u-group-2 {
  min-height: 62px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 937px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: -3728px auto 60px -668px;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-text-8 {
  font-weight: 700;
  margin: 13px 28px 0 719px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    width: 940px;
    height: 145px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-top: -184px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-2 {
    width: 940px;
    height: 274px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 23px;
    margin-left: 32px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -578px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-3 {
    width: 940px;
    height: 126px;
  }

  .u-section-10 .u-image-4 {
    width: 940px;
    height: 256px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -566px;
    margin-right: 23px;
    margin-left: 32px;
  }

  .u-section-10 .u-image-5 {
    width: 940px;
    height: 417px;
    margin-top: 264px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-6 {
    width: 940px;
    height: 196px;
    margin-top: -424px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -701px;
    margin-right: 23px;
    margin-left: 32px;
  }

  .u-section-10 .u-image-7 {
    width: 940px;
    height: 257px;
  }

  .u-section-10 .u-text-7 {
    margin-left: 32px;
    margin-right: 23px;
  }

  .u-section-10 .u-group-2 {
    height: auto;
  }

  .u-section-10 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-10 .u-text-8 {
    margin-left: 718px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    width: 720px;
    height: 111px;
  }

  .u-section-10 .u-image-2 {
    width: 720px;
    height: 210px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-3 {
    width: 720px;
    height: 97px;
  }

  .u-section-10 .u-image-4 {
    width: 720px;
    height: 196px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -506px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-5 {
    width: 720px;
    height: 319px;
  }

  .u-section-10 .u-image-6 {
    width: 720px;
    height: 150px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -655px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-7 {
    width: 720px;
    height: 197px;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    width: 540px;
    height: 83px;
  }

  .u-section-10 .u-image-2 {
    width: 540px;
    height: 158px;
  }

  .u-section-10 .u-image-3 {
    width: 540px;
    height: 73px;
  }

  .u-section-10 .u-image-4 {
    width: 540px;
    height: 147px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -457px;
  }

  .u-section-10 .u-image-5 {
    width: 540px;
    height: 239px;
    margin-top: 258px;
  }

  .u-section-10 .u-image-6 {
    width: 540px;
    height: 113px;
    margin-top: -405px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -618px;
  }

  .u-section-10 .u-image-7 {
    width: 540px;
    height: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 340px;
    height: 52px;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 99px;
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 46px;
  }

  .u-section-10 .u-image-4 {
    width: 340px;
    height: 93px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -403px;
  }

  .u-section-10 .u-image-5 {
    width: 340px;
    height: 150px;
    margin-top: 216px;
  }

  .u-section-10 .u-image-6 {
    width: 340px;
    height: 71px;
    margin-top: -274px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -576px;
  }

  .u-section-10 .u-image-7 {
    width: 340px;
    height: 93px;
  }
}
.u-section-11 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-11 .u-sheet-1 {
  min-height: 1918px;
}

.u-section-11 .u-group-1 {
  min-height: 1835px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 72px;
  margin-bottom: 0;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-text-1 {
  margin: 32px 56px 0 38px;
}

.u-section-11 .u-image-1 {
  width: 1046px;
  height: 390px;
  margin: 28px 56px 0 38px;
}

.u-section-11 .u-text-2 {
  margin: 17px 106px 0 89px;
}

.u-section-11 .u-text-3 {
  margin: 25px 38px 0;
}

.u-section-11 .u-image-2 {
  width: 1046px;
  height: 426px;
  margin: 25px 56px 0 38px;
}

.u-section-11 .u-text-4 {
  margin: 38px 105px 0 89px;
}

.u-section-11 .u-image-3 {
  width: 1046px;
  height: 178px;
  margin: 28px 56px 0 38px;
}

.u-section-11 .u-text-5 {
  margin: 32px 105px -30px 89px;
}

.u-section-11 .u-group-2 {
  min-height: 62px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1167px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: -1874px auto 60px -698px;
}

.u-section-11 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-11 .u-text-6 {
  font-weight: 700;
  margin: 13px 28px 0 706px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-group-1 {
    height: auto;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-1 {
    width: 940px;
    height: 351px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-top: -587px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-2 {
    width: 940px;
    height: 383px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-3 {
    width: 940px;
    height: 160px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-group-2 {
    height: auto;
  }

  .u-section-11 .u-container-layout-2 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-image-1 {
    width: 720px;
    height: 269px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -529px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -61px;
  }

  .u-section-11 .u-image-2 {
    width: 720px;
    height: 293px;
  }

  .u-section-11 .u-image-3 {
    width: 720px;
    height: 123px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-image-1 {
    width: 540px;
    height: 202px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -552px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -20px;
  }

  .u-section-11 .u-image-2 {
    width: 540px;
    height: 220px;
  }

  .u-section-11 .u-image-3 {
    width: 540px;
    height: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    width: 340px;
    height: 127px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -449px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -225px;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 139px;
  }

  .u-section-11 .u-image-3 {
    width: 340px;
    height: 58px;
  }

  .u-section-11 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-11 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}
.u-section-12 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-12 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-12 .u-group-1 {
  min-height: 1058px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-section-12 .u-container-layout-1 {
  padding: 19px 0 0;
}

.u-section-12 .u-text-1 {
  margin: 12px 89px 0 38px;
}

.u-section-12 .u-image-1 {
  width: 1002px;
  height: 205px;
  margin: 24px 89px 0 49px;
}

.u-section-12 .u-text-2 {
  margin: 24px 170px 0 120px;
}

.u-section-12 .u-text-3 {
  margin: 32px 89px 0 38px;
}

.u-section-12 .u-image-2 {
  width: 1013px;
  height: 324px;
  margin: 29px auto 0 39px;
}

.u-section-12 .u-text-4 {
  margin: 32px 170px 0 120px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-group-1 {
    height: auto;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-image-1 {
    width: 940px;
    height: 193px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-top: -404px;
    margin-right: 70px;
    margin-left: 20px;
  }

  .u-section-12 .u-text-3 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-image-2 {
    width: 940px;
    height: 301px;
    margin-left: 0;
  }

  .u-section-12 .u-text-4 {
    margin-left: 20px;
    margin-right: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-image-1 {
    width: 720px;
    height: 148px;
  }

  .u-section-12 .u-text-2 {
    margin-top: -376px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-3 {
    margin-top: 3px;
  }

  .u-section-12 .u-image-2 {
    width: 720px;
    height: 231px;
  }

  .u-section-12 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-image-1 {
    width: 540px;
    height: 111px;
  }

  .u-section-12 .u-text-2 {
    margin-top: -385px;
  }

  .u-section-12 .u-image-2 {
    width: 540px;
    height: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-image-1 {
    width: 340px;
    height: 70px;
  }

  .u-section-12 .u-text-2 {
    margin-top: -334px;
  }

  .u-section-12 .u-text-3 {
    margin-top: -100px;
  }

  .u-section-12 .u-image-2 {
    width: 340px;
    height: 109px;
  }
}
.u-section-13 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-13 .u-sheet-1 {
  min-height: 1328px;
}

.u-section-13 .u-group-1 {
  min-height: 1282px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 32px;
  margin-bottom: 14px;
}

.u-section-13 .u-container-layout-1 {
  padding: 19px 0 0;
}

.u-section-13 .u-text-1 {
  margin: 12px 56px 0 44px;
}

.u-section-13 .u-image-1 {
  width: 1023px;
  height: 138px;
  margin: 24px 67px 0 49px;
}

.u-section-13 .u-text-2 {
  margin: 24px 56px 0 38px;
}

.u-section-13 .u-image-2 {
  width: 1023px;
  height: 438px;
  margin: 20px auto 0;
}

.u-section-13 .u-image-3 {
  width: 1023px;
  height: 458px;
  margin: 12px 56px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-13 .u-group-1 {
    height: auto;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-image-1 {
    width: 940px;
    height: 127px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    margin-top: -404px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-image-2 {
    width: 940px;
    height: 402px;
  }

  .u-section-13 .u-image-3 {
    width: 940px;
    height: 420px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-image-1 {
    width: 720px;
    height: 97px;
  }

  .u-section-13 .u-text-2 {
    margin-top: -376px;
  }

  .u-section-13 .u-image-2 {
    width: 720px;
    height: 308px;
  }

  .u-section-13 .u-image-3 {
    width: 720px;
    height: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-image-1 {
    width: 540px;
    height: 73px;
  }

  .u-section-13 .u-text-2 {
    margin-top: -385px;
  }

  .u-section-13 .u-image-2 {
    width: 540px;
    height: 231px;
  }

  .u-section-13 .u-image-3 {
    width: 540px;
    height: 242px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-image-1 {
    width: 340px;
    height: 46px;
  }

  .u-section-13 .u-text-2 {
    margin-top: -334px;
  }

  .u-section-13 .u-image-2 {
    width: 340px;
    height: 145px;
  }

  .u-section-13 .u-image-3 {
    width: 340px;
    height: 152px;
  }
}
.u-section-14 {
  background-image: linear-gradient(to right, #00ff5d, #38f8d4);
}

.u-section-14 .u-sheet-1 {
  min-height: 3295px;
}

.u-section-14 .u-group-1 {
  min-height: 3170px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-14 .u-container-layout-1 {
  padding: 19px 0 0;
}

.u-section-14 .u-text-1 {
  margin: 30px 72px 0 55px;
}

.u-section-14 .u-group-2 {
  min-height: 58px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1057px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: 21px auto 0 -556px;
}

.u-section-14 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-14 .u-text-2 {
  font-weight: 700;
  margin: 15px 103px 0 633px;
}

.u-section-14 .u-text-3 {
  margin: 36px 79px 0 48px;
}

.u-section-14 .u-image-1 {
  width: 669px;
  height: 136px;
  margin: 20px auto 0 227px;
}

.u-section-14 .u-text-4 {
  margin: 13px 103px 0;
}

.u-section-14 .u-text-5 {
  margin: 85px 103px 0;
}

.u-section-14 .u-image-2 {
  width: 371px;
  height: 164px;
  margin: 25px auto 0 369px;
}

.u-section-14 .u-text-6 {
  margin: 139px 78px 0 48px;
}

.u-section-14 .u-image-3 {
  width: 669px;
  height: 209px;
  margin: 21px auto 0 227px;
}

.u-section-14 .u-text-7 {
  margin: 150px 78px 0 48px;
}

.u-section-14 .u-image-4 {
  width: 795px;
  height: 277px;
  margin: 16px auto 0 157px;
}

.u-section-14 .u-text-8 {
  margin: 150px 72px 0 54px;
}

.u-section-14 .u-text-9 {
  margin: 16px 97px 0 109px;
}

.u-section-14 .u-image-5 {
  width: 795px;
  height: 777px;
  margin: 28px 188px 0 157px;
}

.u-section-14 .u-group-3 {
  min-height: 61px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1057px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin: -3200px auto 0 -513px;
}

.u-section-14 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-14 .u-text-10 {
  font-weight: 700;
  margin: 16px 130px 0 604px;
}

.u-section-14 .u-group-4 {
  min-height: 70px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  width: 1176px;
  margin: 1003px auto 0 -698px;
}

.u-section-14 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-14 .u-text-11 {
  font-weight: 700;
  margin: 0 30px 0 718px;
}

.u-section-14 .u-group-5 {
  min-height: 70px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  width: 1176px;
  margin: 366px auto 0 -698px;
}

.u-section-14 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-14 .u-text-12 {
  font-weight: 700;
  margin: 0 22px 0 726px;
}

.u-section-14 .u-group-6 {
  min-height: 70px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  width: 1176px;
  margin: 461px auto 0 -698px;
}

.u-section-14 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-14 .u-text-13 {
  font-weight: 700;
  margin: 21px 22px 0 726px;
}

.u-section-14 .u-group-7 {
  min-height: 70px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  width: 1176px;
  margin: -1548px auto 60px -638px;
}

.u-section-14 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-14 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 21px 0 658px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-group-1 {
    height: auto;
  }

  .u-section-14 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-14 .u-group-2 {
    height: auto;
  }

  .u-section-14 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-14 .u-text-2 {
    margin-right: 30px;
    margin-left: 706px;
  }

  .u-section-14 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-14 .u-text-4 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-14 .u-text-5 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-14 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-14 .u-image-3 {
    height: 210px;
  }

  .u-section-14 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-14 .u-image-4 {
    margin-left: 145px;
  }

  .u-section-14 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-14 .u-text-9 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-14 .u-image-5 {
    margin-right: 88px;
    margin-left: 57px;
  }

  .u-section-14 .u-group-3 {
    height: auto;
  }

  .u-section-14 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-14 .u-group-4 {
    height: auto;
  }

  .u-section-14 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-14 .u-group-5 {
    height: auto;
  }

  .u-section-14 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-14 .u-group-6 {
    height: auto;
  }

  .u-section-14 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-14 .u-group-7 {
    margin-top: -1549px;
    height: auto;
  }

  .u-section-14 .u-container-layout-7 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-image-1 {
    margin-left: 51px;
  }

  .u-section-14 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-image-2 {
    margin-left: 349px;
  }

  .u-section-14 .u-image-3 {
    margin-left: 51px;
  }

  .u-section-14 .u-image-4 {
    width: 720px;
    height: 251px;
    margin-left: 0;
  }

  .u-section-14 .u-text-9 {
    margin-left: 0;
  }

  .u-section-14 .u-image-5 {
    width: 720px;
    height: 704px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-image-1 {
    width: 540px;
    height: 110px;
    margin-left: 0;
  }

  .u-section-14 .u-image-2 {
    margin-left: 169px;
  }

  .u-section-14 .u-image-3 {
    width: 540px;
    height: 170px;
    margin-left: 0;
  }

  .u-section-14 .u-image-4 {
    width: 540px;
    height: 188px;
  }

  .u-section-14 .u-image-5 {
    width: 540px;
    height: 528px;
  }

  .u-section-14 .u-group-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-14 .u-text-10 {
    margin-right: 79px;
    margin-left: 655px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-14 .u-text-2 {
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 69px;
  }

  .u-section-14 .u-image-2 {
    width: 340px;
    height: 150px;
    margin-left: 0;
  }

  .u-section-14 .u-text-6 {
    margin-top: -1302px;
  }

  .u-section-14 .u-image-3 {
    width: 340px;
    height: 107px;
  }

  .u-section-14 .u-image-4 {
    width: 340px;
    height: 118px;
  }

  .u-section-14 .u-text-9 {
    margin-top: 22px;
  }

  .u-section-14 .u-image-5 {
    width: 340px;
    height: 332px;
  }

  .u-section-14 .u-group-3 {
    width: 340px;
  }

  .u-section-14 .u-text-10 {
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-14 .u-group-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-14 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-14 .u-group-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-14 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-14 .u-group-6 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-14 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-14 .u-group-7 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-14 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }
}





html {
  scroll-behavior: smooth;
}

.gradient {
  background: linear-gradient(to bottom, #01e9bd, #007cde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
